#car-info{
    margin-top: 10px;
}

#todo{
    width: 100%;
}

#valor{
    position: relative;
    right: 0%;
}

#prodValor{
    position: relative;
    width: 100%;
}

#valor{
    position: absolute;
    right: 0%;
    top: 0%;
    font-weight: 600;
    color: black;
}

.card-title{
    text-align: center;
    margin-bottom: 20px;
}

.produtosVendidos{
    width: 100%;
    position: relative;
}

.prodNome{
    width: 75%;
    position: relative;
    left: 0px;
}

.prodQuantidade{
    width: 25%;
    position: absolute;
    right: 0px;
    top: 0%;
}

#qtd{
    text-align: end;
}