<div class="container">
  <h3 id="name">RELATORIO</h3>
  <div class="row">
    <div class="col-8">
      <select class="form-select" id="autoSizingSelect" [(ngModel)]="dataSelecionada">
        <option *ngFor=" let data of opcoes">{{ data }}</option>
      </select>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="carregar()">Carregar</button>
    </div>
  </div>


  <div class="card" id="car-info" *ngIf="mostraCard">
    <div class="card-body">
      <h5 class="card-title">{{ auxData }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Total de Vendas</h6>
      <div id="prodValor">
        <p>Dinheiro:</p>
        <p id="valor">R${{ totalVendidoDinheiro[1] | number : "1.2" }} | {{ totalVendidoDinheiro[0] }} - Vendas</p>
      </div>
      <div id="prodValor">
        <p>Cartão:</p>
        <p id="valor">R${{ totalVendidoCartao[1] | number : "1.2" }} | {{ totalVendidoCartao[0] }} - Vendas</p>
      </div>
      <div id="prodValor">
        <p>Total:</p>
        <p id="valor">R${{ totalVendido[1] | number : "1.2" }} | {{ totalVendido[0] }} - Vendas</p>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Produtos Vendidos</h6>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of maisVendido">
            <td>{{ produto.nome }}</td>
            <td id="qtd">{{ produto.quantidade }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>