<div id="carregando">
    <img src="logo-sena.png" id="logo-carregando">
    <h1>Carregando...</h1>
</div>

<div id="component">
    <div class="pagina">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">FAÇA SEU LOGIN</h5>
                    <button class="btn me-2" id="btnGoogle" (click)="loginGoogle()" type="button" [disabled]="loading">
                        <img id="icon-img-google" src="assets/google-icon.png" alt=""> Continuar com o Google
                    </button>
                    <p class="card-text">
                        <input class="form-control" formControlName="email" type="email" placeholder="E-mail"
                            autocomplete="email">
                        <input class="form-control" formControlName="password" type="password" placeholder="Senha"
                            autocomplete="password">
                    </p>
                    <button class="btn btn-primary me-2" type="button" id="button1"
                        [routerLink]="['/auth/cadastro']">Cadastrar</button>
                    <button class="btn btn-success" type="submit" id="button2"
                        [disabled]="!loginForm.valid || loading">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>