<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">
                    <input class="form-control" formControlName="email" type="email" placeholder="E-mail" autocomplete="email">
                    <input class="form-control" formControlName="password" type="password" placeholder="Password" autocomplete="password">
                </p>
                <button class="btn btn-danger me-2" (click)="loginGoogle()" type="button" [disabled]="loading">Google
                    Login</button>
                <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid || loading">
                    <mat-icon>check</mat-icon>Login
                </button>
            </div>
        </div>
    </form>

</div>