<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <!--button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button-->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img1.webp" class="d-block w-100" id="img-carousel">
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <div class="row" id="opcoes">
        <div class="d-grid gap-1 col" id="divisao-btn1">
            <button id="btn-op1" class="btn" [routerLink]="['/categoria/cervejas']"
                (click)="buscaEspecifica('cerveja')"><img src="assets/caneca-de-cerveja.png" width="27px">
                Cervejas</button>
            <button id="btn-op1" class="btn" [routerLink]="['/categoria/vinhos']"><img src="assets/vinho.png"
                    width="27px"> Vinhos</button>
            <button id="btn-op1" class="btn" [routerLink]="['/categoria/mercearia']"><img src="assets/mercearias.png"
                    width="27px"> Mercearia</button>
        </div>
        <div class="d-grid gap-1 col" id="divisao-btn2">
            <button id="btn-op2" class="btn" [routerLink]="['/categoria/destilados']"><img src="assets/vodka.png"
                    width="27px"> Destilados</button>
            <button id="btn-op2" class="btn" [routerLink]="['/categoria/sem-alcool']"><img src="assets/suco.png"
                    width="27px"> Sem Álcool</button>
            <button id="btn-op2" class="btn" [routerLink]="['/categoria/tabacaria']"><img src="assets/tabaco.png"
                    width="27px"> Tabacaria</button>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>CERVEJAS</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'cerveja' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/cervejas']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>DESTILADOS</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'destilado' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/destilados']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>VINHOS</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'vinho' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/vinhos']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>ENERGÉTICO</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'energetico' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/sem-alcool']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>SEM ÁLCOOL</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'sem-alcool' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/sem-alcool']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>TABACARIA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'tabacaria' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/tabacaria']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>MERCEARIA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'mercearia' | slice:0:aux">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text" id="preco-prod"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
        <div class="seta" id="seta-direita" [routerLink]="['/categoria/mercearia']">
            <img src="assets/seta-direita.png" id="img-seta-direita">
            <p class="text-muted" id="veja-tudo">Veja tudo</p>
        </div>
    </div>
</div>
<br><br>