#carouselExampleIndicators{
    padding-top: 10px;
    padding-bottom: 10px;
}

#divisao{
    width: 100%;
    height: 7px;
    background-color: rgba(68, 68, 68, 0.164);
}

#opcoes{
    padding-top: 10px;
    padding-bottom: 10px;
}

#divisao-btn1{
    padding-right: 3px;

}
#divisao-btn2{
    padding-left: 3px;

}

#btn-op1{
    width: 100%;
    color: black;
    text-align: start;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgba(0, 0, 0, 0.226);
}

#btn-op2{
    width: 100%;
    color: black;
    text-align: start;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgba(0, 0, 0, 0.226);
}

#titu{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.507);
}

#card-prod{
    white-space: normal;
}

#desc-prod{
    font-size: 14px;
}


div.scrollProdutos {
    overflow: auto;
    white-space: nowrap;
    padding: 0%;
  }
  
div.scrollProdutos #card-prod {
    display: inline-block;
}

#seta-direita{
    display: inline-block;
    position: relative;
    top: -50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
}

#img-seta-direita{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.438) 1px 1px 5px;
    width: 55px;
    padding: 10px;
}

#veja-tudo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}