<ul class="nav sticky-top justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="clientes" (click)="mudaComponent(0)"
            [routerLink]="['/admin/menu/clientes']">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="produtos" (click)="mudaComponent(1)"
            [routerLink]="['/admin/menu/produtos']">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pedidos" (click)="mudaComponent(2)" [routerLink]="['/admin/menu/pedidos']">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="relatorio" (click)="mudaComponent(3)"
            [routerLink]="['/admin/menu/relatorio']">Relatorio</a>
    </li>
</ul>

<div class="componentes">
    <div id="texto" *ngIf="esconde">
        <p>BEM VINDO AO MENU ADMIN</p>
    </div>
    <router-outlet></router-outlet>
</div>