<ul class="nav sticky-top justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="clientes" (click)="mudaComponent(0)" [routerLink]="['/admin/menu/clientes']">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="produtos" (click)="mudaComponent(1)" [routerLink]="['/admin/menu/produtos']">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pedidos" (click)="mudaComponent(2)" [routerLink]="['/admin/menu/pedidos']">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="relatorio" (click)="mudaComponent(3)" [routerLink]="['/admin/menu/relatorio']">Relatorio</a>
    </li>
</ul>

<div class="componentes">
        <router-outlet></router-outlet>     
        <!--app-menu-clientes *ngIf="component[0] != false"></app-menu-clientes>
        <app-menu-produtos *ngIf="component[1] != false"></app-menu-produtos>
        <app-menu-pedidos *ngIf="component[2] != false"></app-menu-pedidos>
        <app-menu-concluidos *ngIf="component[3] != false"></app-menu-concluidos-->
</div>