<div class="voltar">
    <a [routerLink]="['/meu-perfil']"><img id="btn-voltar" src="assets/btn-voltar.png">REPORTAR BUG</a>
</div>
<div class="divisao"></div>
<br>
<div class="container">
    <form class="row g-3" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nome" class="form-label" style="font-weight: 600;">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex. João da Silva" [(ngModel)]="bug.nome">
        </div>
        <div class="mb-3">
            <label for="problema" class="form-label" style="font-weight: 600;">Descreva o Problema</label>
            <textarea class="form-control" id="problema" name="problema" rows="3" placeholder="Ex. Botão de compra não esta funcionando..."
            [(ngModel)]="bug.problema"></textarea>
        </div>
        <button class="btn btn-success">Enviar</button>
    </form>
</div>