<div id="carregando">
    <img src="logo-sena.png" id="logo-carregando">
    <h1>Carregando...</h1>
</div>

<div id="component">
    <div class="container" id="pagina">
        <form class="row g-3" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <h5 id="cadastro">CADASTRO</h5>
            <div class="col-12">
                <input type="text" formControlName="firstname" class="form-control" placeholder="Nome">
            </div>
            <div class="col-12">
                <input type="email" formControlName="email" class="form-control"
                    placeholder="E-mail: exemplo@gmail.com">
            </div>
            <div class="col-12">
                <input type="password" formControlName="password1" class="form-control" placeholder="senha">
            </div>
            <div class="col-12">
                <input type="password" formControlName="password2" class="form-control" placeholder="Confirme a senha">
            </div>
            <div class=" col-12 d-grid gap-2 d-md-flex">
                <button type="submit" class="btn btn-primary" [disabled]="!formRegister.valid">Cadastrar</button>
                <button class="btn btn-success" [routerLink]="['/auth/login']">Voltar ao Login</button>
            </div>
        </form>
    </div>
</div>