<div class="box-app" fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-dropzone fxFlex="80" (droppedfiles)="onDropFiles($event)"></app-dropzone>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70" fxLayout="column" *ngIf="files.length">
            <h3>Files: </h3>
            <mat-card class="item-file" *ngFor="let f of files; let i=index" fxLayout="row" fxLayoutAlign="space-between center">
                <span><mat-icon>attachment</mat-icon>{{f.file.name}}</span>
                <div *ngIf="f.task == null; else uploading" fxFlex="60" fxLayoutAlign="end center">
                    <button mat-button color="accent" (click)="removeFileFromList(i)"><mat-icon>delete</mat-icon></button>
                </div>
                <ng-template #uploading>
                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="40">
                        <ng-container *ngIf="!(f.finished | async) && !((f.error | async) || (f.canceled | async))">
                            <span style="font-style: italic; margin-right: 10px">{{f.bytesuploaded | async }} bytes</span>
                            <mat-progress-bar mode="determinate" [value]="f.percentage | async" style="max-width: 200px;"></mat-progress-bar>
                            <button mat-icon-button color="accent" *ngIf="f.uploading | async" (click)="f.task.cancel()"><mat-icon>cancel</mat-icon></button>
                            <button mat-icon-button color="warn" *ngIf="f.uploading | async" (click)="f.task.pause()"><mat-icon>pause</mat-icon></button>
                            <button mat-icon-button color="primary" *ngIf="f.pauser | async" (click)="f.task.resume()"><mat-icon>play_arrow</mat-icon></button>
                        </ng-container>
                        <mat-icon *ngIf="(f.error | async) || (f.canceled | async)" color="warn">error</mat-icon>
                        <mat-icon color="primary" *ngIf="f.finished | async">done</mat-icon>
                    </div>
                </ng-template>
            </mat-card>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary" (click)="uploadAll()">
                    <mat-icon>cloud_upload</mat-icon> Send all
                </button>
            </div>
        </div>
    </div>
</div>
