.card-header{
    width: 100%;
    text-align: center;
    font-size: 17px;
}

#produtos{
    padding-left: 5px;
}

#btn-update-pedido{
    padding-bottom: 10px;
}

#btnEditar{
    background-color: rgb(224, 165, 1);
    color: white;
}