<div class="voltar">
    <a (click)="voltaPagina()"><img id="btn-voltar" src="assets/btn-voltar.png">Voltar</a>
</div>
<div id="divisao1"></div>
<div class="container">
    <p id="titu"><strong>ESSENCIA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']" *ngFor="let produto of produtos | async | filter:'essencia hosh'">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>CARVÃO</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)"
            [routerLink]="['/produto-selecionado']" *ngFor="let produto of produtos | async | filter:'carvao hosh'">
            <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
</div>