<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="aceitar" (click)="mudaComponent(0)">Aceitar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="preparo" (click)="mudaComponent(1)">Preparo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="entrega" (click)="mudaComponent(2)">Entrega</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="finalizado" (click)="mudaComponent(3)">Finalizado</a>
    </li>
</ul>
<div class="container">
    <h5 id="titu">{{ subCategoriaPedidos }}</h5>
    <div *ngIf="mostraDetalhes != true ">
        <div class="card mb-3" *ngFor="let cliente of clientes | async | filter : term "
            (click)="visualizar(cliente.pedido, 'pedido')">
            <div class="row g-0">
                <div class="col-md-12" id="dados">
                    <a><strong>Nome:</strong> {{ cliente.pedido.clienteNome }}</a><br>
                    <a><strong>Telefone:</strong> {{ cliente.pedido.clienteNumero | mask: '(00) 00000-0000' }}</a><br>
                    <a><strong>Valor: </strong>R${{ cliente.pedido.valor | number : "1.2" }}</a><br>
                    <a><strong>Estado:</strong> {{ cliente.pedido.estado }}</a>
                </div>
            </div>
        </div>
    </div>
    
    <app-visualizar *ngIf="mostraDetalhes != false"></app-visualizar>
    
</div>
