<div id="component">
    <div class="voltar">
        <a [routerLink]="['/']"><img id="btn-voltar" src="assets/btn-voltar.png">MEU PERFIL</a>
    </div>
    <div id="dados">
        <div class="card mb-3" id="dados">
            <div class="row g-0">
                <div class="col-2">
                    <img src="{{(dadosCliente|async)?.fotoPerfil}}" id="imgCliente">
                </div>
                <div class="col-10">
                    <div class="card-body">
                        <img src="assets/editar.png" id="btn-editar" (click)="atualizaEndereco()">
                        <h5 class="card-title" id="nomeCliente">Olá, {{ (dadosCliente|async)?.firsname }}</h5>
                        <p class="card-text" id="dadosCliente">{{ (dadosCliente|async)?.email }}</p>
                        <p class="card-text" id="dadosCliente">{{ telefoneCliente | mask: '(00) 00000-0000' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="opcoes">
            <!--div class="row g-0" id="opcoes">
                <div class="col-2">
                    <img src="assets/pedidos.png" id="btn-sair">
                </div>
                <div class="col-10">
                    <h5 class="card-title" id="opcoesText" [routerLink]="['/meus-pedidos']">Meus Pedidos</h5>
                </di>
            </div-->
            <div class="row g-0" id="opcoes">
                <div class="col-2">
                    <img src="assets/bug.png" id="btn-sair">
                </div>
                <div class="col-10">
                    <h5 class="card-title" id="opcoesText" [routerLink]="['/report-bug']">Reportar Bug</h5>
                </div>
            </div>
            <div class="row g-0" id="opcoes" (click)="logout()">
                <div class="col-2">
                    <img src="assets/btn-sair.png" id="btn-sair">
                </div>
                <div class="col-10">
                    <h5 class="card-title" id="opcoesText">Sair</h5>
                </div>
            </div>
        </div>
    </div>
</div>