<div class="container">
    <form class="d-flex" id="superior">
        <input type="search" class="form-control me-2" placeholder="Pesquise um cliente" id="clientePesquisado"
            name="clientePesquisado" [(ngModel)]="clientePesquisado">
            <button class="btn btn-success" type="button" id="btn-newProd" [routerLink]="['/produtos/cadastro']">Adicionar</button>
    </form>
    <div class="card mb-3" *ngFor="let cliente of clientes | async | filter: clientePesquisado">
        <div class="row g-0">
            <div class="col-md-12" id="dados">
                <a><strong>Nome:</strong> {{ cliente.dados.nome }}</a><br>
                <a><strong>Telefone:</strong> {{ cliente.dados.telefone | mask: '(00) 00000-0000' }}</a><br>
                <a><strong>Endereço:</strong> {{ cliente.dados.enderecoRua }}, {{ cliente.dados.enderecoNumero }}, {{ cliente.dados.enderecoBairro }}</a>
            </div>
        </div>
    </div>
</div>