#site{
    max-width: 420px;
}

#navbar{
    background-color: #211F20;
}

#nav2{
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

#slogan{
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barra-superior{
    white-space: nowrap;
    margin-bottom: 10px;
    width: 100%;
}

.sub-barra{
    position: relative;
    width: 100%;
}

#btn-sair{
    width: 27px;
    position: absolute;
    right: 0px;
}

#btn-home{
    width: 28px;
    position: absolute;
    right: 80px;
}

#btn-home2{
    width: 28px;
    position: absolute;
    right: 40px;
}

#btn-carrinho{
    width: 27px;
    position: absolute;
    right: 40px;
}

#receber{
    color: white;
    margin-left: 5px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 55px;
}

#endereco{
    color: rgb(228, 228, 0);
    text-overflow: ellipsis; 
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    top: 32px;

    max-width: 80%; /* Tamanho */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#login{
    color: rgb(228, 228, 0);
    font-weight: 500;
}