#navbar{
    background-color: #211F20;
}

#slogan{
    color: white;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}