<div id="carregamento">
  <img src="logo-sena.png" id="logo-carregamento">
  <h1>Bem vindo(a)!</h1>
</div>

<body id="site">
  <nav class="navbar justify-content-center" id="navbar">
    <div class="container-fluid">
      <ng-container *ngIf="!(authenticated$ | async)">
        <div class="barra-superior">
          <div class="sub-barra">
            <a id="login" [routerLink]="['/auth/login']">FAÇA SEU LOGIN E APROVEITE</a>
            <img src="{{(user$|async)?.fotoPerfil}}" style="border-radius: 50% ; width: 40px;">
            <img id="btn-home2" [routerLink]="['/']" src="assets/home.png">
            <img id="btn-sair" [routerLink]="['/auth/login']" src="assets/btn-login.png">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="admAutenticated != false" style="display: none;">
        <div class="barra-superior">
          <div class="sub-barra">
            <img src="{{(user$|async)?.fotoPerfil}}" style="border-radius: 50% ; width: 40px;">
            <img id="btn-home" [routerLink]="['/']" src="assets/home.png">
            <img id="btn-carrinho" [routerLink]="['/admin/menu']" src="assets/menu-white.png">
            <img id="btn-sair" (click)="logout()" src="assets/btn-sair.png">
          </div>
          <a id="receber">Bem Vindo!</a>
          <a id="endereco"> {{(user$| async)?.firsname}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="(authenticated$ | async) && (user$ | async) && admAutenticated != true">
        <div class="barra-superior">
          <div class="sub-barra">
            <img src="{{(user$|async)?.fotoPerfil}}" style="border-radius: 50% ; width: 40px;">
            <img id="btn-home" [routerLink]="['/']" src="assets/home.png">
            <img id="btn-carrinho" (click)="verifica()" src="assets/carrinho.png">
            <img id="btn-sair" (click)="logout()" src="assets/btn-sair.png">
          </div>
          <a id="receber">Receber agora em</a>
          <a id="endereco" (click)="atualizaEndereco()"> {{ endereco }}</a>
        </div>
      </ng-container>
    </div>
  </nav>
  <nav class="navbar sticky-top" id="nav2" *ngIf="ativaNav != false">
    <form class="d-flex col-12">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" [(ngModel)]="valor" placeholder="Qual a Bebida de Hoje?" id="valor"
          name="valor" [(ngModel)]="valor">
        <button type="submit" [routerLink]="['/pesquisa', valor ]" class="btn btn-success">Buscar</button>
      </div>
    </form>
  </nav>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</body>