<div id="carregamento">
  <img src="assets/logo-sena.png" id="logo-carregamento">
  <h1>Bem vindo(a)!</h1>
</div>

<div id="site" *ngIf="estadoDistribuidora != 'Fechado'">
  <nav class="navbar justify-content-center" id="navbar" *ngIf="menuPerfil">
    <div class="container-fluid">
      <ng-container *ngIf="!(authenticated$ | async)">
        <div class="barra-superior">
          <div class="sub-barra">
            <a id="login" [routerLink]="['/auth/login']">CLICK, FAÇA SEU LOGIN E APROVEITE</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="admAutenticated != false" style="display: none;">
        <div class="barra-superior">
          <div class="sub-barra">
            <img src="{{(user$|async)?.fotoPerfil}}" style="border-radius: 50% ; width: 40px;">
            <div class="form-switch" id="btn-estado">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="mudaEstado()">
              <label class="form-check-label" for="flexSwitchCheckChecked">{{ estadoBtn }}</label>
            </div>
            <img id="btn-menu-adm" [routerLink]="['/admin/menu']" src="assets/menu-white.png">
            <img id="btn-sair" (click)="logout()" src="assets/btn-sair.png">
          </div>
          <a id="receber1">Bem Vindo!</a>
          <a id="endereco1"> {{(user$| async)?.firsname}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="(authenticated$ | async) && (user$ | async) && admAutenticated != true">
        <div class="barra-superior">
          <div class="sub-barra">
          </div>
          <a id="receber">Receber agora em</a>
          <a id="endereco"> {{ endereco }} </a>
        </div>
      </ng-container>
    </div>
  </nav>
  <nav class="navbar sticky-top" id="nav2" *ngIf="ativaNav != false && admAutenticated != true">
    <form class="d-flex col-12">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" [(ngModel)]="valor" placeholder="Qual a Bebida de Hoje?" id="valor"
          name="valor" [(ngModel)]="valor">
        <button type="submit" [routerLink]="['/pesquisa', valor ]" class="btn btn-success"
          id="btn-buscar">Buscar</button>
      </div>
    </form>
  </nav>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <nav class="navbar fixed-bottom" id="menu-bottom" *ngIf="admAutenticated != true">
    <div class="container-fluid" id="btn-bottom">
      <div class="home" [routerLink]="['/']" (click)="scroll()">
        <img id="btn-menu-home" src="assets/home.png">
        <p id="text-inicio">Inicio</p>
      </div>
      <div class="busca" [routerLink]="['/pesquisa', '']" (click)="scroll()">
        <img id="btn-menu-busca" src="assets/busca.png">
        <p id="text-inicio">Procurar</p>
      </div>
      <div class="pedido" (click)="verifica()" (click)="scroll()" *ngIf="btnMenuPedido == 'pedido'">
        <img id="btn-menu-pedido" src="assets/btn-pedido.png">
        <label id="alertaPedido">1</label>
        <p id="text-inicio">Pedido</p>
      </div>
      <div class="carrinho" (click)="verifica()" (click)="scroll()" *ngIf="btnMenuPedido == 'carrinho'">
        <img id="btn-menu-carrinho" src="assets/carrinho.png">
        <label id="qdtProds" *ngIf="qtdProdutos != 0">{{ qtdProdutos }}</label>
        <p id="text-inicio">Carrinho</p>
      </div>
      <div class="pedidos" [routerLink]="['/meus-pedidos']" (click)="scroll()">
        <img id="btn-menu-pedidos" src="assets/btn-pedidos.png">
        <p id="text-inicio">Pedidos</p>
      </div>
      <div class="perfil" [routerLink]="['/meu-perfil']" (click)="scroll()"
        *ngIf="(authenticated$ | async) && (user$ | async) && admAutenticated != true">
        <img src="{{(user$|async)?.fotoPerfil}}" (click)="verifica2()" style="border-radius: 50% ; width: 28px;">
        <p id="text-inicio">Conta</p>
      </div>
      <div class="perfil" *ngIf="auxMenu != true">
        <img src="assets/foto-perfil-generica.png" style="border-radius: 50% ; width: 28px;"
          [routerLink]="['/auth/login']">
        <p id="text-inicio">Conta</p>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="estadoDistribuidora != 'Aberto'">
  <div id="fechado">
    <img src="assets/logo-sena.png" id="logo-fechado">
    <h1>Estamos Fechados!</h1>
  </div>
</div>