#site{
    display: none;
    z-index: 1;
}

#navbar{
    background-color: #211F20;
    height: 55px;
}

#login{
    text-decoration: none;
}

#nav2{
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

#slogan{
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barra-superior{
    white-space: nowrap;
    margin-bottom: 10px;
    width: 100%;
}

.sub-barra{
    position: relative;
    width: 100%;
}

#btn-sair{
    width: 27px;
    position: absolute;
    right: 0px;
}

#btn-home{
    width: 28px;
    position: absolute;
    right: 80px;
}

#btn-menu-adm{
    width: 28px;
    position: absolute;
    right: 40px;
}


#btn-home2{
    width: 28px;
    position: absolute;
    right: 40px;
}

#btn-menu-bottom{
    width: 28px;
}

#btn-bottom{
    width: 95%;
}

#receber{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 55px;
}

#endereco{
    text-decoration: none;
    color: rgb(228, 228, 0);
    text-overflow: ellipsis; 
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    top: 22px;
    margin-top: 5px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#login{
    color: rgb(228, 228, 0);
    font-weight: 500;
}

#carregamento{
    position: absolute;
    z-index: 9999;
    background-color: #211F20;
    width: 100%;
    height: 100vh;
    text-align: center;
    opacity: 1;
    transition: opacity .5s linear;
    transition: all .5s linear;
}

#carregamento.hide{
    opacity: 0;
    pointer-events: none;
}

#carregamento h1{
    color: white;
    text-align: center;
    position: relative;
    top: 220px;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo-carregamento{
    width: 250px;
    text-align: center;
    position: relative;
    top: 220px;
}

#btn-buscar{
    font-weight: 500;
}

#menu-bottom{
    background-color: #211F20;
}

#qdtProds{
    color: black;
    position: absolute;
    background-color: rgb(228, 228, 0);
    left: 50%;
    border-radius: 100%;
    width: 20px;
    font-size: 14px;
    text-align: center;
    top: 3px;
    font-weight: 600;
}