<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora Sena - Cadastro Produtos</title>
</head>

<body>
    <h4 id="titulo">CADASTRO DE PRODUTOS</h4>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="row g-2">
                <div class="col-6">
                    <label for="nomeProduto" class="form-label"><strong>Nome Produto</strong></label>
                    <input type="text" class="form-control" placeholder="Digite o nome do Produto" name="nomeProduto"
                        [(ngModel)]="produto.nome">
                </div>
                <div class="col-6">
                    <label for="valorVenda" class="form-label"><strong>Valor de Venda</strong></label>
                    <input type="text" class="form-control" placeholder="Valor de Venda do Produto" name="valorVenda"
                        [(ngModel)]="produto.valor">
                </div>
            </div>
            <div class="col-12">
                <label for="categoriaProduto" class="form-label"><strong>Tipo do Produto</strong></label>
                <select class="form-select" name="categoriaProduto" [(ngModel)]="produto.categoria">
                    <option selected>Selecione...</option>
                    <option value="Cerveja">Cerveja</option>
                    <option value="vinho seco">Vinho Seco</option>
                    <option value="vinho suave">Vinho Suave</option>
                    <option value="mercearia">Mercearia</option>
                    <option value="whisky">Whisky</option>
                    <option value="vodka">Vodka</option>
                    <option value="cachaca">Cachaça</option>
                    <option value="destilado gin">Gin</option>
                    <option value="refrigerante">refrigerante</option>
                    <option value="agua mineral">Água</option>
                    <option value="suco">Suco</option>
                    <option value="cerveja sem alcool">Cerveja sem Alcool</option>
                    <option value="energetio">Energetico</option>
                    <option value="tabacaria">Tabacaria</option>

                </select>
            </div>
            
            <div class="col-12 d-grid gap-2" id="btn-submit">
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>
</body>

</html>