#titulo{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn-submit{
    padding-top: 10px;
}

.box-app{
    margin: 40px;
}

.item-file{
    padding: 5px;
    margin: 4px;
    width: 100%;
}