#component{
    background-color: rgba(105, 105, 105, 0.164);
    height: 100vh;
}

#btn-voltar{
    width: 30px;
    filter: contrast(1%);
    margin-right: 95px;
}

.voltar{
    padding: 7px;
    background-color: white;
}

.voltar a{
    font-weight: bold;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.507);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}