<div class="container">
    <form class="d-flex" id="superior">
        <input type="search" class="form-control me-2" placeholder="Pesquise um produto" id="produtoPesquisado"
            name="produtoPesquisado" [(ngModel)]="produtoPesquisado">
            <button class="btn btn-success" type="button" id="btn-newProd" [routerLink]="['/produtos/cadastro']">Adicionar</button>
    </form>
    <div class="card mb-3" *ngFor="let produto of produtos | async | filter:'#$!'"
    [routerLink]="['/produtos/editar', produto.key]" (click)="edit(produto, produto.key)">
        <div class="row g-0">
            <div class="col-4">
                <img [defaultImage]="imgPadrao" [lazyLoad]=" produto.imgProduto " width="100px">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">R${{ produto.valor }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
