#titu{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 0.5px solid rgb(133, 132, 132);
}