#titu{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 0.5px solid rgb(133, 132, 132);
}

.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}

.alerta{
    color: rgb(221, 1, 1);
    padding-left: 5px;
}

#rodape{
    background-color: #211F20;
}

#rodape p{
    color: white;
    font-size: 14px;
}

#rodape div{
    color: white;
    font-size: 12px;
}