<div class="voltar">
   <a (click)="voltaPagina()"><img id="btn-voltar" src="assets/btn-voltar.png">Voltar</a>
</div>
<div id="divisao1"></div>
<div class="container">
    <p id="titu"><strong>BRAHMA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'brahma'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>SKOL</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'skol' |filter:'cerveja'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>HEINEKEN</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'heineken'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>BOHEMIA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'bohemia'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>ORIGINAL</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'original'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>BECK'S</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'beck'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>BUDWEISER</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'budweiser'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>ITAIPAVA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'itaipava'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>CACILDIS</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'cacildis'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>EISENBAHN</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'eisenbahn'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>IMPÉRIO</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'império'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
    <div id="divisao"></div>
    <p id="titu"><strong>PETRA</strong></p>
    <div class="scrollProdutos">
        <div class="card" id="card-prod" style="width: 8.5rem;" (click)="selecionaProduto(produto, produto.key)" [routerLink]="['/produto-selecionado']"
            *ngFor="let produto of produtos | async | filter:'petra'">
            <img src="{{ produto.imgPequena }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="text-muted" id="desc-prod">{{ produto.nome }}</p>
                <p class="text"><strong>R${{ produto.valor }}</strong></p>
            </div>
        </div>
    </div>
</div>